:root {
	--theme-ui-colors-primary: #0066ff;
    --theme-ui-colors-text: #2f363d;
    --theme-ui-colors-background: #fff;
    --theme-ui-colors-muted: #f6f8fa;
    --theme-ui-colors-border: #d1d5da;
    --theme-ui-colors-icon: #959da5;
    backgroundcolor:#f6f8fa;
}