body {
    margin: 0em;
    padding: 0em;
    // background: #eee;
}

a,
a:hover {
    text-decoration: none;
    color: black;
}

.nav {
    background: #eee;
    font-size: 1.5em;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;

    ul {
        margin: auto;
        list-style: none;

        li {
            padding: 10px;
            display: inline-block;
        }
    }
}
