.nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.logo {
  margin: 2vh 0 0 4vh;
  width: 7vw;
}
.links {
  list-style: none;
  padding: 0;
  margin: 2vh 0 0 34vw;
}
li {
  display: inline-block;
  border: 1px solid var(--secondary_color);
  padding: 1.2vh;
  margin-left: .5vw;
  box-shadow: .4vw .4vw 0 0 var(--secondary_color);
}
a {
  text-decoration: none;
  color: var(--primary_color);
  font-size: 1.1rem;
  font-weight: 600;
}
a:hover {
  color: #eee;
  transition: ease color 0.2s;
}
li:hover {
  background: var(--primary_color);
  border: 1px solid var(--primary_color);
  box-shadow: .4vw .4vw 0 0 var(--primary_color);
  transition: ease background 0.2s, ease border 0.2s, ease box-shadow 0.2s;
}
hr {
  margin-top: 2vh;
  width: 95vw;
  border: 1px solid var(--primary_color);
}