:root {
  --primary_color: #8072b3;
  --secondary_color: rgb(149, 136, 199);
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  background: #eee;
  font-family: titillium-web, sans-serif;
  font-style: normal;
  font-weight: 200;
}
.filler {
  height: 10vh;
}
.landing_area {
  margin-left: 1vw;
  margin-right: 1vw;
}
.landing_image {
  height: 50vh;
  width: 60vw;
  margin-top: -10vh;
  z-index: 1;
  position: relative;
}
.landing_text {
  position: relative;
  z-index: 2;
  margin: 0;
  margin-bottom: 5vh;
  font-size: 4vh;
  text-align: center;
}
.joined {
  color: #eee;
}
.nickname {
  color: red;
}
.hidden {
  display: none;
  background: var(--primary_color);
  filter: brightness(105%);
}
.expander {
  border: none;
  background: var(--primary_color);
  color: #eee;
  font-size: 4vh;
}
.contact_area {
  display: none;
  position: fixed;
  height: 70vh;
  width: 30vw;
  bottom: 0;
  right: 0;
  z-index: 3;
  background: var(--primary_color);
  border-top-left-radius: 5px;
}
.contact__title {
  font-size: 3rem;
  margin:5% 0 0 10%;
  color: white;
}
.contact__input {
  display: block;
  height: 4vh;
  width: 80%;
  margin: 10% 0 0 10%;
  outline: none;
  background: #eee;
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 1vw;
}
label[for="email"] {
  font-size: .85rem;
  margin-left: 10%;
  color: white;
  text-transform: uppercase;
}
.contact__textarea {
  background: #eee;
  margin: 10% 0 0 10%;
  display: block;
  width: 80%;
  border-radius: 5px;
  padding-left: 1vw;
  border: 1px solid black;
  font-size: 1.1rem;
}
::placeholder {
  color: var(--secondary_color);
}
.contact__button {
  border: none;
  background: var(--secondary_color);
  color: white;
  width: 40%;
  margin: 10% 0 0 31%;
  font-size: 5vh;
  border-radius: 5px;
  border: 1px solid black;
}
.contact_me__expander {
  fill: var(--primary_color);
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 5vw 5vh 0;
  height: 6vw;
  width: 6vw;
  z-index: 4;
}
.contact_me__animate {
  animation: expander .6s ease;
  animation-fill-mode:forwards;
}
.contact_me__animate__reverse {
  animation: expanderReverse .6s ease;
  animation-fill-mode:forwards;
}
@keyframes expander {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}
@keyframes expanderReverse {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(0deg);
  }
}